@import "./functions.scss";

@mixin parallelogram($width: 100) {
    clip-path: parallelogram($width);
    width: width($width);
};

@mixin parallelogram-top($width: 100) {
    clip-path: parallelogram-top($width);
    width: width($width);
};

@mixin parallelogram-bottom($width: 100) {
    clip-path: parallelogram-bottom($width);
    width: width($width);
};

// EXPORT 
