@import "./abstracts/reset.scss";
@import "./abstracts/variables.scss";


body {
    font-family: $font-serif;
    min-height: 100vh;
    background-color: $color-white;
    max-width: 100%;
}

button {
    border-radius: 2rem;
}

a {
    color: $color-white;
    font-family: $font-serif;
}

h1 {
    color: $color-atelier;
    font-family: $font-sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}

h2 {
    color: black;
    font-size: 1.5rem;
    font-family: $font-sans-serif;
}

h3 {
    color: $color-dark;
    font-size: 1.5rem;
    font-family: $font-sans-serif;
}

h4 {
    color: $color-dark;
    font-size: 1.3rem;
    font-family: $font-sans-serif;
}

h5 {
    color: $color-dark;
    font-size: 1.5rem;
    font-family: $font-sans-serif;
}

h6 {
    color: $color-dark;
    font-size: 1.5rem;
    font-family: $font-sans-serif;
}

p {
    color: $color-dark;
    font-size: 0.9rem;
}

.primary-button {
    background-color: $color-atelier;
    color: $color-white;
    padding: .2rem .6rem;
    font-size: 1.2rem;
}

.secondary-button {
    background-color: $color-white;
    padding: .2rem .6rem;
    font-size: 1.1rem;

    a {
        color: $color-dark;
    }
}

.atelier{
    background-color: $color-atelier;
}

.michel{
    background-color: $color-michel;
    h1 {
        color: $color-michel-title;
    }
}

.sabina{
    background-color: $color-sabina;
    h1 {
        color: $color-sabina-title;
    }
}
