@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// VARIABLES
    $color-atelier: #E20B00;
    $color-michel: rgb(235, 140, 17);
    $color-sabina: rgb(228, 225, 36);
    $color-dark: #2E3532;
    $color-light: #7E9181;
    $color-white: #EEEEEE;

    $font-sans-serif: 'Hind', sans-serif;
    $font-serif: 'Amiri', serif;

    $clip-path: polygon(0 0, 100% 10vw, 100% 100%, 0 calc(100% - 10vw));
    $clip-path-top: polygon(0 0, 100% 10vw, 100% 100%, 0 100%);
    $clip-path-bottom: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 10vw));

// RESET MEYER
    html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        text-decoration: none;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    button {
        background-color: transparent;
        border: none;
        outline: none;
    }

// DEFAULT
    body {
        font-family: $font-serif;
        min-height: 100vh;
        background-color: $color-white;
        max-width: 100vw;
    }

// HEADER

    header {
        position: fixed;
        top:0;
        width: 100%;
        height: 4.6rem;
        z-index: 100;
    }

    .header-background {
        background-color: $color-light;
        clip-path: $clip-path-bottom;
        width: 100%;
        height: 4.6rem;
    }

    .navigation-menu {
        position: fixed;
        top: .5rem;
        right: .5rem;
    }

    .burger-icon {
        width: 2.5rem;
        cursor: pointer;
        transition: 0.5s;
    }

    .burger-bar {
        width: 2.5rem;
        height: .4rem;
        background-color: $color-dark;
        margin: .4rem 0;
        transition: 0.5s;
    }

    .menu-button {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: flex-end;
    }
    
    .menu-title {
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        text-transform: uppercase;
        color: $color-dark;
        font-size: .75rem;
        font-weight: bold;
        margin-right: .2rem;
    }

    .menu {
        flex-direction: column;
    }

    .menu-item {
        font-size: 1.3rem;
        margin: 1rem;
        color: $color-dark;
        text-align: center;
    }

// CONTAINER
    .container {
        margin-top: 20vw;
    }

// INDEX
    .carousel {
        width: 100%;
    }

    .picture-container {
        width: 100vw;
        height: 150vw;
        overflow: hidden;
        clip-path: $clip-path;
        background-size: 200vw auto;
        background-position: center;
    }


// CONTACT

    .contact-box {
        width: 100vw;
        height: 20rem;
        clip-path: $clip-path;
    }

    .box-content {
    }

    .contact-atelier {
        background-color: $color-atelier;
    }

    .contact-michel {
        background-color: $color-michel;
    }

    .contact-sabina {
        background-color: $color-sabina;
    }




